
img{
    width: 100%;
    height: auto;
}
section {
    max-width:  800px;
    margin: 0 auto;
    padding: 2em;

    display: flex; 
    justify-content: space-between;
    
}
.item {
    max-width: 250px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgb(181, 220, 90);
    padding-top: 70px;
    box-sizing: border-box;
    text-transform: uppercase;
}

footer{
    width: 100%;
    height: 200%;
    text-align: center;
    background-color: rgb(181, 220, 90);
    padding: 50px;
}
.price{
    font-size: 18px;
    font-weight: bold;
    color: rgb(91, 214, 116);
}
span{
    color: rgb(228, 7, 7);
    text-decoration: line-through;
}

.btn-go-box{
    background-color: rgb(181, 220, 90);
    text-align: center;
    color: rgb(5, 111, 76);
    text-decoration: none;
    margin: 10px auto;
    padding: 10px;
    display: inline-block;
}